<div class="container container-fluid">
	<!-- <p></p>
	<div class="container-fluid border-bottom">
		<span class="pull-left">
			<i class="fa fa-phone" aria-hidden="true"></i> Contact Us: <b>+91-8888888888</b>
		</span>
		<span class="pull-right">
			<i class="fa fa-envelope-o" aria-hidden="true"></i> Mail Us: <b>+91-8888888888</b>	
		</span>
		<p class="clear"></p>
	</div>
	<div class="container-fluid">
		<h1>
			<span class="pull-left nokhaClr">NOKHA TV</span>
			<span class="pull-right"><input class="form-control" type="" placeholder="Search" name=""></span>
		</h1>
	</div> -->
	<nav class="navbar navbar-default navbar-static-top navbar-inverse marginZ"> 
		<div class="container">
			<div class="container-fluid"> 
				<div class="navbar-header"> 
					<button type="button" class="collapsed navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-8" aria-expanded="false"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button> 
					<a href="." class="navbar-brand">Home</a> 
				</div> 
				<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-8"> 
					<ul class="nav navbar-nav"> 
						<li class=""><a href="/">Home</a></li>
						<li class=""><a href="/add">Add new place</a></li>
						<li class=""><a href="/complaint">Complaint Services</a></li>
						
						<li><a href="/directory">Explore</a></li> 
						
					</ul> 
				</div> 
			</div>
		</div>
	</nav>
</div>